<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/friend.css}">-->
<!--</head>-->
<!--<body>-->
<!--<h1>update board</h1>-->
<!--<form th:action="@{/update}" method="post" th:object="${board}">-->

<!--    <input type="hidden" th:field="*{id}">-->
<!--    <br>-->
<!--    <label for="name">Name :</label>-->
<!--    <input type="text" id="name" th:field="*{name}" required/>-->
<!--    <br>-->
<!--    <label for="title">title :</label>-->
<!--    <input type="text" id="title" th:field="*{title}" required />-->
<!--    <br>-->
<!--    <label for="content">Content :</label>-->
<!--    <input type="text" id="content" th:field="*{content}" required />-->
<!--    <br>-->
<!--    <label for="password">Password :</label>-->
<!--    <input type="text" id="password" th:field="*{password}" required />-->

<!--    <input type="hidden" th:field="*{createdAt}">-->
<!--    <input type="hidden" th:field="*{updatedAt}">-->
<!--    <br>-->
<!--    <input type="submit" value="Update">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/friend.css}">
    <style>
        /* 스타일 시트에서 스타일 수정 */
        label {
            display: block; /* 라벨을 블록 요소로 표시하여 한 줄에 하나의 라벨이 오도록 함 */
            margin-bottom: 5px; /* 라벨 아래에 여백 추가 */
        }

        input[type="text"],
        textarea {
            width: 100%; /* 입력 필드를 부모 요소의 100%로 설정하여 가로 폭을 확보함 */
            padding: 5px; /* 입력 필드에 여백 추가 */
            margin-bottom: 10px; /* 입력 필드 아래에 여백 추가 */
        }
    </style>
</head>
<body>
<h1>update board</h1>
<form th:action="@{/update}" method="post" th:object="${board}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required/>

    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}" required />

    <label for="content">Content:</label>
    <textarea id="content" rows="5" th:field="*{content}" required></textarea>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required />

    <input type="hidden" th:field="*{createdAt}">
    <input type="hidden" th:field="*{updatedAt}">

    <input type="submit" value="Update">
</form>
</body>
</html>
