<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/friend.css}">
</head>
<body>
<h1>Create a New Board</h1>
<form th:action="@{/write}" method="post" th:object="${board}">
    <div>
        <label for="name">name:</label>
        <input type="text" id="name" th:field="*{name}" required/>
    </div>

    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}" required/>
    </div>


   <div>
       <label for="content">Content:</label>
       <input type="text" id="content" th:field="*{content}" required/>
   </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
    </div>


    <input type="submit" value="Create">
</form>

</body>
</html>